# Ignore local node modules (CRITICAL)
node_modules

# Ignore git history (reduces build context size)
.git

# Ignore local build artifacts
dist
build
.next

# Ignore local environment files (secrets should be passed via docker-compose)
# .env
# .env.local
.env.example
.env.compose.example

# Ignore Docker related files
Dockerfile
Dockerfile_front
docker-compose.yml